<style>
    body{
        margin: 0;
        font-family: Arial;
        font-size: 16px;
        display: flex;
        align-content: center;
        align-items: center;
    }
    .text-banner {
        width: 100%;
        text-align: center;
        height: 110px;
        position: relative;
        top: calc(50vh - 110px);
    }
    b{
        color: lightskyblue;
    }
</style>
<div class="text-banner">
    <h1>Welcome to the <b><%= controllerName %></b></h1>
    <p>vous pouvez modifier le contenu de cette page</p>
</div>